<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form Tutorial</title>
		<style>
		body {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
        </style>
    </head>
    <body>
		<h1>Welcome <%= username %></h1>
        <a href="/profile/<%= username %>">Click to open the profile page</a>
    </body>
</html>
    