<!DOCTYPE html> 
<html> 
    <head></head> 
    <body> 
        <h1>Hobbies</h1>
        <ul> 
            <% hobbies.forEach((item)=>{ %> 
            <li><%= item %></li>  
            <% }); %>
        </ul> 
        <br>
        <!-- localhost:4000/ POST -->
        <form method="POST" action="/">
            <input name="hobby" type="text">Enter your hobby</input>
            <button type="submit">Submit</button>
        </form>
    </body> 
</html>					 
